# Know the Data

In [23]:
## Scaling of Data
## no. of 0s and 1s should be same

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Banknote_Authentication.csv")
data.head(5)

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [3]:
data.tail(5)

      variance  skewness  curtosis  entropy  class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [4]:
data.shape

(1372, 5)

In [5]:
data.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [6]:
data.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

# Train-Test

In [7]:
X = data.iloc[:,0:4]
y = data.iloc[:,-1]

In [8]:
X.shape, y.shape

((1372, 4), (1372,))

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
# Splitting into training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X ,y,test_size=0.2,random_state=8)

In [11]:
X_train.shape, y_train.shape

((1097, 4), (1097,))

In [12]:
X_test.shape, y_test.shape

((275, 4), (275,))

# Model Building

In [14]:
import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [20]:
from tensorflow.keras.optimizers import Adam

In [33]:
model=Sequential()
model.add(Dense(10,activation='relu',input_dim=4))
model.add(Dense(1,activation='sigmoid'))
model.add(Dense(1))

In [34]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [35]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 10)                50
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 11
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 2
=================================================================
Total params: 63
Trainable params: 63
Non-trainable params: 0
_________________________________________________________________

In [17]:
import tensorflow as tf

In [36]:
callbacks = [
    tf.keras.callbacks.EarlyStopping(patience=2, monitor='val_loss'),
    #tf.keras.callbacks.TensorBoard(log_dir = 'logs')
]

In [37]:
results = model.fit(X_train, y_train, validation_split=0.2, batch_size=20, epochs=45, callbacks=callbacks)

Epoch 1/45
44/44 [==============================] - 0s 3ms/step - loss: 1.3895 - accuracy: 0.2235 - val_loss: 1.2471 - val_accuracy: 0.3045
Epoch 2/45
44/44 [==============================] - 0s 1ms/step - loss: 1.1896 - accuracy: 0.3660 - val_loss: 1.0471 - val_accuracy: 0.4773
Epoch 3/45
44/44 [==============================] - 0s 1ms/step - loss: 0.9503 - accuracy: 0.5131 - val_loss: 0.7752 - val_accuracy: 0.4818
Epoch 4/45
44/44 [==============================] - 0s 1ms/step - loss: 0.7030 - accuracy: 0.5393 - val_loss: 0.6266 - val_accuracy: 0.5364
Epoch 5/45
44/44 [==============================] - 0s 1ms/step - loss: 0.5765 - accuracy: 0.6351 - val_loss: 0.5466 - val_accuracy: 0.5955
Epoch 6/45
44/44 [==============================] - 0s 1ms/step - loss: 0.4945 - accuracy: 0.7286 - val_loss: 0.4843 - val_accuracy: 0.7182
Epoch 7/45
44/44 [==============================] - 0s 1ms/step - loss: 0.4260 - accuracy: 0.8267 - val_loss: 0.4256 - val_accuracy: 0.8227
Epoch 8/45
44/44 [==============================] - 0s 1ms/step - loss: 0.3636 - accuracy: 0.8814 - val_loss: 0.3720 - val_accuracy: 0.8818
Epoch 9/45
44/44 [==============================] - 0s 1ms/step - loss: 0.3081 - accuracy: 0.9168 - val_loss: 0.3211 - val_accuracy: 0.9273
Epoch 10/45
44/44 [==============================] - 0s 1ms/step - loss: 0.2598 - accuracy: 0.9430 - val_loss: 0.2776 - val_accuracy: 0.9364
Epoch 11/45
44/44 [==============================] - 0s 1ms/step - loss: 0.2177 - accuracy: 0.9658 - val_loss: 0.2396 - val_accuracy: 0.9455
Epoch 12/45
44/44 [==============================] - 0s 1ms/step - loss: 0.1808 - accuracy: 0.9704 - val_loss: 0.2005 - val_accuracy: 0.9500
Epoch 13/45
44/44 [==============================] - 0s 1ms/step - loss: 0.1467 - accuracy: 0.9795 - val_loss: 0.1652 - val_accuracy: 0.9591
Epoch 14/45
44/44 [==============================] - 0s 1ms/step - loss: 0.1157 - accuracy: 0.9829 - val_loss: 0.1276 - val_accuracy: 0.9636
Epoch 15/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0870 - accuracy: 0.9897 - val_loss: 0.0957 - val_accuracy: 0.9773
Epoch 16/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0619 - accuracy: 0.9943 - val_loss: 0.0690 - val_accuracy: 0.9864
Epoch 17/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0472 - accuracy: 0.9954 - val_loss: 0.0541 - val_accuracy: 0.9955
Epoch 18/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0395 - accuracy: 1.0000 - val_loss: 0.0452 - val_accuracy: 1.0000
Epoch 19/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0344 - accuracy: 1.0000 - val_loss: 0.0384 - val_accuracy: 1.0000
Epoch 20/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0307 - accuracy: 1.0000 - val_loss: 0.0343 - val_accuracy: 1.0000
Epoch 21/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0279 - accuracy: 1.0000 - val_loss: 0.0304 - val_accuracy: 1.0000
Epoch 22/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0257 - accuracy: 1.0000 - val_loss: 0.0284 - val_accuracy: 1.0000
Epoch 23/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0236 - accuracy: 1.0000 - val_loss: 0.0259 - val_accuracy: 1.0000
Epoch 24/45
44/44 [==============================] - 0s 2ms/step - loss: 0.0221 - accuracy: 1.0000 - val_loss: 0.0245 - val_accuracy: 1.0000
Epoch 25/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0206 - accuracy: 1.0000 - val_loss: 0.0229 - val_accuracy: 1.0000
Epoch 26/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0194 - accuracy: 1.0000 - val_loss: 0.0214 - val_accuracy: 1.0000
Epoch 27/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0183 - accuracy: 1.0000 - val_loss: 0.0210 - val_accuracy: 1.0000
Epoch 28/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0173 - accuracy: 1.0000 - val_loss: 0.0199 - val_accuracy: 1.0000
Epoch 29/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0164 - accuracy: 1.0000 - val_loss: 0.0183 - val_accuracy: 1.0000
Epoch 30/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0153 - accuracy: 1.0000 - val_loss: 0.0172 - val_accuracy: 1.0000
Epoch 31/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0143 - accuracy: 1.0000 - val_loss: 0.0159 - val_accuracy: 1.0000
Epoch 32/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0137 - accuracy: 1.0000 - val_loss: 0.0144 - val_accuracy: 1.0000
Epoch 33/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0129 - accuracy: 1.0000 - val_loss: 0.0142 - val_accuracy: 1.0000
Epoch 34/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0122 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 1.0000
Epoch 35/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0115 - accuracy: 1.0000 - val_loss: 0.0125 - val_accuracy: 1.0000
Epoch 36/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0113 - accuracy: 1.0000 - val_loss: 0.0126 - val_accuracy: 1.0000
Epoch 37/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0103 - accuracy: 1.0000 - val_loss: 0.0107 - val_accuracy: 1.0000
Epoch 38/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0100 - accuracy: 1.0000 - val_loss: 0.0109 - val_accuracy: 1.0000
Epoch 39/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0093 - accuracy: 1.0000 - val_loss: 0.0099 - val_accuracy: 1.0000
Epoch 40/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0088 - accuracy: 1.0000 - val_loss: 0.0097 - val_accuracy: 1.0000
Epoch 41/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0083 - accuracy: 1.0000 - val_loss: 0.0089 - val_accuracy: 1.0000
Epoch 42/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0078 - accuracy: 1.0000 - val_loss: 0.0083 - val_accuracy: 1.0000
Epoch 43/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0074 - accuracy: 1.0000 - val_loss: 0.0077 - val_accuracy: 1.0000
Epoch 44/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0071 - accuracy: 1.0000 - val_loss: 0.0080 - val_accuracy: 1.0000
Epoch 45/45
44/44 [==============================] - 0s 1ms/step - loss: 0.0069 - accuracy: 1.0000 - val_loss: 0.0074 - val_accuracy: 1.0000

In [49]:
model.evaluate(X_test,y_test,verbose=2)

9/9 - 0s - loss: 0.0069 - accuracy: 1.0000

[0.006891860160976648, 1.0]

In [50]:
model_loss = pd.DataFrame(model.history.history)
model

In [51]:
model.save('banknote_model.h5')  # creates a HDF5 file 'my_model.h5'

In [52]:
del model  # deletes the existing model

In [53]:
#Load Model
#model = load_model('banknote.h5')